<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <link rel="stylesheet" href="{{ stylesheet }}">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% block header %}
        <header>
            <h1>
                <img src="{{ company.logo }}" alt="{{ company.name }}" class="logo" />
            </h1>
        </header>
        {% endblock %}

        <section class="container-fluid">
            {% block content %}
            <p>Content</p>
            {% endblock %}
        </section>
          
        {% block footer %}
        <footer>
          <nav>
            <span>&copy; {{ company.name }} {{ new Date().getFullYear() }}</span>
            <a href="./privacy-policy.html">Privacy Policy</a>
            <a href="./terms-and-conditions.html">Terms &amp; Conditions</a>
          </nav>
        </footer>
        {% endblock %}

        {% block scripts %}
        {% endblock %}
      
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ gaCode }}','auto');ga('send','pageview');
        </script>
    </body>
</html>