{% extends base.html %}

{% block content %}
<h2>Reset your password</h2>
<p>We will send you a verification email to your email address.</p>

<form id="form" method="POST" role="form">
    <div class="form-group">
        <label for="email">Email address</label>
        <div class="input-group">
            <div class="input-group-addon"></div>
            <input type="email" class="form-control" id="email" placeholder="Enter your email address">
        </div>
    </div>
    <button type="submit" class="btn btn-block btn-primary btn-reset-email">Send reset email</button>
</form>
{% endblock %}