{% extends "base.html" %}

{% block content %}
<form method="POST" role="form">
    <div class="form-group">
        <label for="email">Email address</label>
        <div class="input-group">
            <div class="input-group-addon"></div>
            <input type="email" class="form-control" id="email" placeholder="Enter your email address">
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
            <div class="input-group-addon"></div>
            <input type="password" class="form-control" id="password" placeholder="Enter your password">
        </div>
    </div>
    <button type="submit" class="btn btn-block btn-primary btn-login">Login</button>
</form>

<p class="text-center">
    <a href="./forgot.html" class="btn-forgot">Forgot your password?</a>
</p>

<a href="./register" class="btn btn-block btn-secondary btn-register">Register an account</a>
{% endblock %}