{% extends base.html %}

{% block content %}
<h2>Logged out</h2>
<p>You have been successfully logged out.</p>

<p>Changed your mind?</p>
<a href="./login" class="btn btn-block btn-primary btn-login">Login again</a>
{% endblock %}