{% extends base.html %}

{% block content %}
<h2>Profile</h2>
<p>Change your profile details.</p>

<h3>Change your password</h3>
<form id="change-password-form" method="PATCH" role="form">
    <div class="form-group">
        <label for="current-password">Current Password</label>
        <div class="input-group">
            <div class="input-group-addon"></div>
            <input type="password" class="form-control" id="current-password" placeholder="Enter your current password">
        </div>
    </div>
    <div class="form-group">
        <label for="current-password">New Password</label>
        <div class="input-group">
            <div class="input-group-addon"></div>
            <input type="password" class="form-control" id="new-password" placeholder="Enter your new password">
        </div>
        <span class="help-block">{{ password.schema.description }}</span>
    </div>
    <div class="form-group">
        <label for="current-password">Confirm Password</label>
        <div class="input-group">
            <div class="input-group-addon"></div>
            <input type="password" class="form-control" id="confirm-password" placeholder="Confirm your new password">
        </div>
    </div>
    <button type="submit" class="btn btn-block btn-primary btn-change-password">Change your password</button>
</form>

<form id="profile-form" method="PUT" role="form"></form>

<h3>Delete Account</h3>
<p>This is a permanent operation. All your data will be deleted forever.</p>
<form id="delete-account-form" method="DELETE" role="form">
    <button type="submit" class="btn btn-block btn-danger btn-delete-account">Delete Account</button>
</form>
{% endblock %}

{% block scripts %}
<script src="scripts/json-editor/jsoneditor.min.js"></script>

<script>
    // initialise our jsonschema form on load
    window.onload = function() {
        // inject our registration form into the dom
        var profileForm = document.getElementById('profile-form');
        var editor = new JSONEditor(profileForm, {
            schema: {{ schema | stringify }},
            theme: 'bootstrap3'
        });

        // use values from previous form fill
        editor.setValue({{ model | stringify }});
    };
</script>
{% endblock %}