{% extends base.html %}

{% block content %}
<h2>Register an account</h2>
<p>Signing up is quick and easy.</p>

<form id="form" method="POST" role="form"></form>
{% endblock %}

{% block scripts %}
<script src="scripts/json-editor/jsoneditor.min.js"></script>

<script>
    // initialise our jsonschema form on load
    window.onload = function() {
        // inject our registration form into the dom
        var form = document.getElementById('form');
        var editor = new JSONEditor(form, {
            schema: {{ schema | stringify }},
            theme: 'bootstrap3'
        });

        // use values from previous form fill
        editor.setValue({{ model | stringify }});
    };
</script>
{% endblock %}